.article{
    background-color: antiquewhite;
}

.love-list{
    background-color: antiquewhite;
}
.love-btn{
    width: 27dp;
    height: 27dp;
    border-color: deeppink;
    background-color: aliceblue;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f5adfc;
    border-color: #7aa5f5;
}