<!doctype html>
<html>

<head>
	<title>News</title>
	<meta charset="utf-8">
	<link rel="icon" href="images/icon-32.png" sizes="32x32" type="image/png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/starter-template.css" rel="stylesheet">
	<style>
		body {
			background-color: #ffffff;
		}
		#myTitle {
			text-decoration: none;
			padding: 0.5rem 1rem;
			border: 1px solid transparent;
			border-top-left-radius: 0.25rem;
			border-top-right-radius: 0.25rem;
			border-radius: 0.25rem;
		}
		h5 {
			color: #007bff;
		}
	</style>
</head>

<body>
	<!-- This is navbar -->
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand pl-2" href="#">News</a>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">
							<img src="images/home_black_18dp.png" width="20" height="20" class="d-inline-block align-top" alt=>主页
							<span class="sr-only">(current)</span>
						</a>
					</li>
					{{topleftbar}}
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="您感兴趣的新闻" aria-label="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="mySearch">搜索</button>
				</form>
			</div>
		</div>
	</nav>
	<main class="container">
		<!-- This is nav -->
		<ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
			<li class="text-white bg-dark">
				<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
					<h1 class="display-2 font-italic">时讯</h1>
				</div>
			</li>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					{% if all_tag %}
						<a class="nav-link text-dark active show" href="{% url 'index' %}" aria-selected="true">时讯</a> 
					{% else %}
						<a class="nav-link text-dark" href="{% url 'index' %}" aria-selected="false">时讯</a> 
					{% endif %}
				</li>
				{% for tag in tags %}
					<li class="nav-item">
						{% if tag == cur_tag %}
						<a class="nav-link text-dark active show" href="{% url 'tag-detail' tag.id %}" aria-selected="true">{{tag.name}}</a>
						{% else %}
						<a class="nav-link text-dark" href="{% url 'tag-detail' tag.id %}" aria-selected="false">{{tag.name}}</a>
						{% endif %}
					</li>
				{% endfor %}
				<li class="nav-item">
					{% if favorite_tag %}
						<a class="nav-link text-dark active show" href="{% url 'index' %}" aria-selected="true">收藏夹</a> 
					{% else %}
						<a class="nav-link text-dark" href="{% url 'index' %}" aria-selected="false">收藏夹</a> 
					{% endif %}
				</li>
			</ul>
		</ul>
		<br/>
		<!-- BEGIN#News information -->
		<div class="card-columns">
			<div class="card">
				<a class="nav-link text-dark" href="#">
					<img class="card-img-top" src="images/Alfa.jpg">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>
			</div>

			<div class="card">
				<a class="nav-link text-dark" href="#">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>

			</div>

			<div class="card">
				<a class="nav-link text-dark" href="#">
					<img class="card-img-top" src="images/Alfa.jpg">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>

			</div>

			<div class="card">
				<a class="nav-link text-dark" href="#">
					<img class="card-img-top" src="images/Alfa.jpg">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>

			</div>
			<div class="card">
				<a class="nav-link text-dark" href="#">
					<img class="card-img-top" src="images/Alfa.jpg">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>

			</div>
			<div class="card">
				<a class="nav-link text-dark" href="#">
					<img class="card-img-top" src="images/Alfa.jpg">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>

			</div>

			<div class="card">
				<a class="nav-link text-dark" href="#">
					<img class="card-img-top" src="images/Alfa.jpg">
					<div class="card-body">
						<h5 class="card-title">This is the news' title may be Alfa?</h5>
						<p class="card-text">This is news' text, show more details about the news</p>
						<p>1908-03-31</p>
					</div>
				</a>

			</div>

		</div>
		<!-- END#News information -->
	</main>
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>