<!doctype html>
<html lang="zh-cn">

<head>
    <title>新闻结果</title>
    <meta charset="utf-8">
    <link rel="icon" href="images/icon-32.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/starter-template.css" rel="stylesheet">
    <style>
        body {
            background-color: #f6f6f6;
        }

        main {
            background-color: #ffffff;
        }

        h2 {
            color: #007bff;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="background-color: #ffffff !important">
        <div class="container">
            <a class="navbar-brand pl-2" href="#">News</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            <img src="images/home_black_18dp.png" width="20" height="20" class="d-inline-block align-top" alt="">主页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {{topleftbar}}
                </ul>
                <form class="form-inline my-2 my-lg-0" onsubmit="return submitVal(this);">
                    <input id="search-content" class="form-control mr-sm-2" type="text" placeholder="您感兴趣的新闻" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="mySearch">搜索</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        <center style="padding: 50px 50px 50px 50px;color: #007bff">
            <img src="images/news1.png">
        </center>
        {% if news_list.count != 0 %}
        <ul class="list-unstyled">
            {% for news in news_list %}
            <li class="media my-4">
                {% if news.cover_image %}
                <img data-src="holder.js/200x200" class="rounded float-left mr-3" alt="200x200" src="{{news.cover_image}}"
                    data-holder-rendered="true" style="width: 100px; height: 100px;">
                {% endif %}
                <div class="media-body">
                    <h3 class="mt-0">
                        <a href="{% url 'news-details' news.id %}">{{news.title}}</a>
                    </h3>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <strong class="display-4">
                    <span class="badge badge-pill badge-primary my-5">搜的内容很特别，暂时没有搜索结果</span>
                </strong>
            </div>
            <div class="col-2"></div>
        </div>
        {% endif %}
    </main>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/search.js"></script>
</body>

</html>